@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SpaceTraders.Models
@using SpaceTraders.Models.Enums
@model Marketplace



<h6><u>Marketplace @Model.Symbol</u></h6>
<ul>
    @if (Model.TradeGoods?.Any() == true)
    {
        <li>Trade Goods</li>
        <ul>
            @{
                IEnumerable<TradeGood>? tradeGoods = Model.TradeGoods?.OrderBy(tg => tg.Type);
                if (tradeGoods is null) tradeGoods = new List<TradeGood>();
            }
            @foreach (var tradeGood in tradeGoods)
            {

                <text><li><span data-toggle="tooltip" data-placement="top" title="@GetDescription(tradeGood, Model)">@tradeGood.Symbol</span> @tradeGood.Type (Buy @tradeGood.PurchasePrice, Sell @tradeGood.SellPrice, Supply @tradeGood.Supply, Activity @tradeGood.Activity, Volume @tradeGood.TradeVolume) <a href="/marketplaces/@Model.Symbol/buy/@tradeGood.Symbol"></a></li></text>
            }
        </ul>
    }
    else
    {
        @foreach (var exchange in Model.Exchange)
        {
            <li>@exchange.Symbol EXCHANGE</li>
        }
        @foreach (var export in Model.Exports)
        {
            <li>@export.Symbol EXPORT</li>
        }
        @foreach (var import in Model.Imports)
        {
            <li>@import.Symbol IMPORT</li>
        }
    }    
</ul>

@{
    static string GetDescription(TradeGood tradeGood, Marketplace marketplace)
    {
        switch (Enum.Parse<TradeGoodTypeEnum>(tradeGood.Type))
        {
            case TradeGoodTypeEnum.EXCHANGE:
                return marketplace.Exchange.Single(tg => tg.Symbol == tradeGood.Symbol).Description;
            case TradeGoodTypeEnum.IMPORT:
                return marketplace.Imports.Single(tg => tg.Symbol == tradeGood.Symbol).Description;
            case TradeGoodTypeEnum.EXPORT:
                return marketplace.Exports.Single(tg => tg.Symbol == tradeGood.Symbol).Description;
            default:
                throw new NotImplementedException();
        }
    }
}