@using SpaceTraders.Models
@using SpaceTraders.Models.Enums
@model Marketplace

<h6><u>Marketplace @Model.Symbol</u></h6>
<ul>
    @if (Model.TradeGoods?.Any() == true)
    {
        <li>Trade Goods</li>
        <ul>
            @{
                IEnumerable<TradeGood>? tradeGoods = Model.TradeGoods?.OrderBy(tg => tg.Type);
                if (tradeGoods is null) tradeGoods = new List<TradeGood>();
            }
            @foreach (var tradeGood in tradeGoods)
            {
                <text><li>@tradeGood.Symbol @tradeGood.Type (Sell @tradeGood.SellPrice, Buy @tradeGood.PurchasePrice, Supply @tradeGood.Supply, Volume @tradeGood.TradeVolume) <a href="/marketplaces/@Model.Symbol/buy/@tradeGood.Symbol"></a></li></text>
            }
        </ul>
    }
    else
    {
        @foreach (var exchange in Model.Exchange)
        {
            <li>@exchange.Symbol EXCHANGE</li>
        }
        @foreach (var export in Model.Exports)
        {
            <li>@export.Symbol EXPORT</li>
        }
        @foreach (var import in Model.Imports)
        {
            <li>@import.Symbol IMPORT</li>
        }
    }    
</ul>
