@using SpaceTraders.Models
@using SpaceTraders.Services.Waypoints
@model (List<Waypoint> Waypoints, List<PathModelWithBurn> PathModelsWithBurn, List<PathModel> PathModels, string OriginWaypointSymbol, string? DestinationWaypointSymbol)
@{
    var waypoints = Model.Waypoints;
    ViewData["Title"] = $"Path Tester";
    var waypointsDictionary = Model.Waypoints.ToDictionary(w => w.Symbol, w => w);
}

<div>
    <h3>From: @Model.OriginWaypointSymbol @(string.IsNullOrWhiteSpace(Model.DestinationWaypointSymbol) ? "" : "To: " + Model.DestinationWaypointSymbol)</h3>
    @foreach (var pathModelWithBurn in Model.PathModelsWithBurn)
    {
        <div class="row">
            <div class="col-sm-3">@pathModelWithBurn.WaypointSymbol <br/>ResultFuel: @pathModelWithBurn.ResultFuel<br/>TimeCost: @pathModelWithBurn.TimeCost</div>
            <div class="col-sm-3">
                @* @foreach (var path in pathModelWithBurn.PathWaypoints) *@
                @for (int i = 1; i < pathModelWithBurn.PathWaypoints.Count(); i++)
                {
                    <span>@pathModelWithBurn.PathWaypoints[i].WaypointSymbol @((int)Math.Ceiling(WaypointsService.CalculateDistance(waypointsDictionary[pathModelWithBurn.PathWaypoints[i-1].WaypointSymbol], waypointsDictionary[pathModelWithBurn.PathWaypoints[i].WaypointSymbol]))) @pathModelWithBurn.PathWaypoints[i].FlightModeEnum @(waypointsDictionary[pathModelWithBurn.PathWaypoints[i].WaypointSymbol].Marketplace?.Exchange.SingleOrDefault(e => e.Symbol == InventoryEnum.FUEL.ToString()) is not null ? "⛽️" : "")</span>
                    <br/>
                }
            </div>
            @{
                var pathModel = Model.PathModels.Single(pm => pm.WaypointSymbol == pathModelWithBurn.WaypointSymbol);
            }
            <div class="col-sm-3">@pathModel.WaypointSymbol <br/>ResultFuel: @pathModel.ResultFuel<br/>TimeCost: @pathModel.TimeCost</div>
            <div class="col-sm-3">
                @* @foreach (var path in pathModel.PathWaypointSymbols) *@
                @for (int i = 1; i < pathModel.PathWaypointSymbols.Count(); i++)
                {
                    <span>@pathModel.PathWaypointSymbols[i] @((int)Math.Ceiling(WaypointsService.CalculateDistance(waypointsDictionary[pathModel.PathWaypointSymbols[i-1]], waypointsDictionary[pathModel.PathWaypointSymbols[i]]))) @(waypointsDictionary[pathModel.PathWaypointSymbols[i]].Marketplace?.Exchange.SingleOrDefault(e => e.Symbol == InventoryEnum.FUEL.ToString()) is not null ? "⛽️" : "")</span>
                    <br/>
                }
            </div>
        </div>
        <br/>
        <br/>
    }
</div>

