@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@using SpaceTraders.Services.Marketplaces
@using SpaceTraders.Services.Trades
@model TradeModelsViewModel
@{
    ViewData["Title"] = "Trade Models";
    IReadOnlyList<TradeModel> tradeModelsOrdered = await Model.OrderedModelTradesTask;
    var pathModels = await Model.PathModelsTask;
}

<h3>Best Trade Models <small>(<a href="/marketplaces/trademodels/reset">reset</a>)</small></h3>

@{
    var tradeModelsGrouped = tradeModelsOrdered.GroupBy(tm => tm.TradeSymbol);
}

<div class="row">
    <div class="col-sm-2">
        <form method="GET" action="/marketplaces/trademodels" autocomplete="off" id="waypointSymbolForm">        
            <input class="form-control" list="waypoints" name="waypointSymbol" id="waypointSymbol" value="@Model.WaypointSymbol" autocomplete="off">
            <input class="form-control" name="distance" id="distance" value="@Model.Distance" autocomplete="off" width="3" />
            <button type="submit" class="btn-success" value="submit">Submit</button>
            <input type="button" class="btn-warning" onclick="clearWaypointSymbol()" value="Clear">
        </form>
    </div>
</div>
<datalist id="waypoints">
    @foreach (var waypointSymbol in pathModels.Select(pm => pm.WaypointSymbol))
    {
        <option value="@waypointSymbol">@waypointSymbol</option>
    }
</datalist>
<br/>
<h3>Best Trades By Symbol (@tradeModelsGrouped.Count())</h3>
<table class="table">
    <thead>
        <tr>
            <th>TradeSymbol</th>
            <th>Export WP</th>
            <th>Buy</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th>Import WP</th>
            <th>Sell</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th style="text-align: center;">Nav</th>
            <th style="text-align: center;">Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tradeModel in tradeModelsGrouped)
        {
            <tr>
                <td>@tradeModel.Key (@tradeModel.Count())</td>
                <td>@tradeModel.First().ExportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.First().ExportBuyPrice</td>
                <td style="text-align: center;">@tradeModel.First().ExportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.First().ExportTradeVolume</td>
                <td>@tradeModel.First().ImportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.First().ImportSellPrice</td>
                <td style="text-align: center;">@tradeModel.First().ImportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.First().ImportTradeVolume</td>
                <td style="text-align: right;">@tradeModel.First().NavigationFactor</td>
                <td style="text-align: right;">@(tradeModel.First().TimeCost)</td>
            </tr>
        }
    </tbody>
</table>

<br/></br>
<h3>Trade Models (@tradeModelsOrdered.Count())</h3>
<table class="table">
    <thead>
        <tr>
            <th>TradeSymbol</th>
            <th>Export WP</th>
            <th>Buy</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th>Import WP</th>
            <th>Sell</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th style="text-align: center;">Nav</th>
            <th style="text-align: center;">Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tradeModel in tradeModelsOrdered)
        {
            <tr>
                <td>@tradeModel.TradeSymbol</td>
                <td>@tradeModel.ExportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.ExportBuyPrice</td>
                <td style="text-align: center;">@tradeModel.ExportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.ExportTradeVolume</td>
                <td>@tradeModel.ImportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.ImportSellPrice</td>
                <td style="text-align: center;">@tradeModel.ImportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.ImportTradeVolume</td>
                <td style="text-align: right;">@(tradeModel.NavigationFactor)</td>
                <td style="text-align: right;">@(tradeModel.TimeCost)</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function clearWaypointSymbol() {
        document.querySelector("#waypointSymbol").value = "";
        document.querySelector("#waypointSymbolForm").submit();
    }
</script>