@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@using SpaceTraders.Services.Marketplaces
@using SpaceTraders.Services.Trades
@model IReadOnlyList<TradeModel>
@{
    ViewData["Title"] = "Trade Models";
    IReadOnlyList<TradeModel> tradeModels = Model;
}

<h3>Best Trade Models <small>(<a href="/marketplaces/trademodels/reset">reset</a>)</small></h3>

@{
    var tradeModelsOrdered = TradesService.GetBestOrderedTradesWithTravelCost(tradeModels);
    var tradeModelsGrouped = tradeModelsOrdered.GroupBy(tm => tm.TradeSymbol);
}
<table class="table">
    <thead>
        <tr>
            <th>TradeSymbol</th>
            <th>Export WP</th>
            <th>Buy</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th>Import WP</th>
            <th>Sell</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th style="text-align: center;">Nav</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tradeModel in tradeModelsGrouped)
        {
            <tr>
                <td>@tradeModel.Key (@tradeModel.Count())</td>
                <td>@tradeModel.First().ExportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.First().ExportBuyPrice</td>
                <td style="text-align: center;">@tradeModel.First().ExportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.First().ExportTradeVolume</td>
                <td>@tradeModel.First().ImportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.First().ImportSellPrice</td>
                <td style="text-align: center;">@tradeModel.First().ImportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.First().ImportTradeVolume</td>
                <td style="text-align: right;">@tradeModel.First().NavigationFactor</td>
            </tr>
        }
    </tbody>
</table>

<br/></br>
<h3>Trade Models</h3>
<table class="table">
    <thead>
        <tr>
            <th>TradeSymbol</th>
            <th>Export WP</th>
            <th>Buy</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
            <th>Import WP</th>
            <th>Sell</th>
            <th style="text-align: center;">Supply</th>
            <th style="text-align: center;">Volume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tradeModel in tradeModels)
        {
            <tr>
                <td>@tradeModel.TradeSymbol</td>
                <td>@tradeModel.ExportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.ExportBuyPrice</td>
                <td style="text-align: center;">@tradeModel.ExportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.ExportTradeVolume</td>
                <td>@tradeModel.ImportWaypointSymbol</td>
                <td style="text-align: right;">@tradeModel.ImportSellPrice</td>
                <td style="text-align: center;">@tradeModel.ImportSupplyEnum</td>
                <td style="text-align: right;">@tradeModel.ImportTradeVolume</td>
            </tr>
        }
    </tbody>
</table>