@using SpaceTraders.Models
@using System.Text.Json
@using System.Dynamic
@model ShipLogsViewModel
@{
    ViewData["Title"] = "Ship Logs";
}

@{
    string shipSymbol = Model.FilterModel.ShipSymbol ?? "";
}
<h3><u>Ship Logs @shipSymbol</u></h6>

<table class="table">
    <thead>
        <tr>
            <th>ShipSymbol</th>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShipLog shipLog in await Model.ShipLogsTask)
        {
            <tr>
                <td>@shipLog.ShipSymbol</td>
                <td>@shipLog.ShipLogEnum</td>
                <td>@shipLog.StartedDateTimeUtc</td>
                <td>@shipLog.CompletedDateTimeUtc</td>
                <td>
                    @{
                        var data = JsonSerializer.Deserialize<ExpandoObject>(shipLog.JsonData);
                    }
                    <ul>
                        @foreach (var datum in (IDictionary<string, object>)data)
                        {
                            <li>
                                <strong>@datum.Key</strong>: @datum.Value
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>