@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@model ShipViewModel

@{
    var currentShipSymbol = ViewBag.CurrentShip?.Symbol ?? string.Empty;
    var ship = await Model.ShipTask;
    var contract = await Model.ContractTask;
}

<h6>Ship <a href="/ships/@ship.Symbol">@ship.Symbol</a></h6>
<ul>
    <li><b>Registration Name:</b> @ship.Registration.Name</li>
    <li><b>Registration Faction:</b> @ship.Registration.FactionSymbol</li>
    <li><b>Registration Role:</b> @ship.Registration.Role</li>
    <li><b>Nav System:</b> <a href="/systems/@ship.Nav.SystemSymbol">@ship.Nav.SystemSymbol</a></li>
    <li><b>Waypoint Symbol:</b> <a href="/waypoints/@ship.Nav.WaypointSymbol">@ship.Nav.WaypointSymbol</a></li>
    <li><b>Destination:</b> @ship.Nav.Route.Destination.Symbol</li>
    <li><b>Nav Status:</b> @ship.Nav.Status</li>
    <li><b>FlightMode:</b> @ship.Nav.FlightMode</li>
    <li><b>Crew Capacity:</b> @ship.Crew.Capacity</li>
    <li><b>Crew Required:</b> @ship.Crew.Required</li>
    <li><b>Frame:</b> @ship.Frame.Symbol</li>
    <li><b>Reactor:</b> @ship.Reactor.Symbol</li>
    <li><b>Engine:</b> @ship.Engine.Symbol</li>
    <li><b>ships:</b> @string.Join(",", ship.Modules.Select(m => m.Symbol))</li>
    <li><b>Mounts:</b> @string.Join(",", ship.Mounts.Select(m => m.Symbol))</li>
    <li><b>Cargo:</b> @ship.Cargo.Units/@ship.Cargo.Capacity</li>
    <ul>
        @foreach (var inventory in ship.Cargo.Inventory)
        {
            <li>@inventory.Name (@inventory.Units/@ship.Cargo.Capacity) <a href="/ships/@ship.Symbol/jettison/@inventory.Symbol">Jettison</a></li>
        }
    </ul>
    <li><b>Fuel:</b> @ship.Fuel.Current (@ship.Fuel.Capacity)</li>
    @if (ship.Cooldown.RemainingSeconds > 0)
    {
        <li><b>Cooldown:</b> @ViewHelperService.MinimalHumanReadableTimeSpan(ship.Cooldown.Expiration - DateTime.UtcNow)</li>
    }
    else if (ship.Nav.Route.Arrival > DateTime.UtcNow)
    {
        <li><b>Cooldown:</b> @ViewHelperService.MinimalHumanReadableTimeSpan(ship.Nav.Route.Arrival - DateTime.UtcNow)</li>
    }
    else
    {
        <li><b>Cooldown:</b> Ready</li>
    }
    @if (currentShipSymbol != ship.Symbol)
    {
        <li><a href="/ships/@ship.Symbol/active">Set as Active</a></li>
    }
    @if (ship.Nav.Status == NavStatusEnum.DOCKED.ToString())
    {
        <li><a href="/ships/@ship.Symbol/orbit">Travel To Orbit</a></li>
    }
    @if (ship.Nav.Status == NavStatusEnum.IN_ORBIT.ToString())
    {
        <li><a href="/ships/@ship.Symbol/dock">Dock To Current Waypoint</a></li>
    }
    @if (ship.Nav.Status == NavStatusEnum.DOCKED.ToString())
    {
        <li><a href="/ships/@ship.Symbol/fuel">Buy Fuel</a></li>
    }
    <li><a href="/systems/withinrange">Waypoints Within Range</a></li>
    @if (contract is null)
    {
        <li><a href="/contracts/@ship.Symbol/negotiate">Negotiate New Contract</a></li>
    }
</ul>