@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@model ShipTransactionsModel
@{
    ViewData["Title"] = "Transactions";
    var ship = Model.Ship;
    var transactions = Model.Transactions;
}

<h3>@ship.Symbol - @ship.Registration.Role</h3>
<ul>
    @foreach (var transaction in transactions.OrderByDescending(t => t.Timestamp))
    {
        <text><li>
            @(ViewHelperService.MinimalHumanReadableTimeSpan(DateTime.UtcNow - transaction.Timestamp)) @transaction.WaypointSymbol @transaction.Type @transaction.TradeSymbol $@transaction.PricePerUnit * #@transaction.Units = @transaction.TotalPrice
        </li></text>
    }
</ul>
