@using SpaceTraders.Models
@model STSystem

<h6><u>System</u></h6>
<ul>
    <li><b>AccountId:</b> @Model.Constellation</li>
    <li><b>Symbol:</b> @Model.Symbol</li>
    <li><b>SectorSymbol:</b> @Model.SectorSymbol</li>
    <li><b>Type:</b> @Model.Type</li>
    <li><b>X:</b> @Model.X</li>
    <li><b>Y:</b> @Model.Y</li>
    <li><b>Name:</b> @Model.Name</li>
</ul>
<div style="margin-left:10px; border-left-style: solid; border-left-width: 1px; padding-left: 10px;">
    @foreach (var waypoint in Model.Waypoints)
    {
        await Html.RenderPartialAsync("~/Views/Waypoints/_Waypoint.cshtml", new Tuple<string, Waypoint>(@Model.Symbol, waypoint));
    }
</div>