@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@using SpaceTraders.Models.Enums
@using SpaceTraders.Services
@using SpaceTraders.Services.Shipyards
@model IEnumerable<ShipStatus>
@{
    ViewData["Title"] = "Fleet Status";
}
@{
    var lastInstruction = Model.OrderByDescending(ss => ss.DateTimeOfLastInstruction).FirstOrDefault()?.DateTimeOfLastInstruction;
}
@if (lastInstruction is not null)
{
    <h3 style="text-align: center;">Last Update: @ViewHelperService.HumanReadableTimeSpan(DateTime.UtcNow - lastInstruction.Value)</h3>
}
@{
    var numberOfWaitingShips = Model.Count(m => ShipsService.GetShipCooldown(m.Ship) is null);
}
<h3 style="text-align: center;">Ships Waiting for Instructions: @numberOfWaitingShips/@Model.Count()</h3>


@{
    var commandShips = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.COMMAND.ToString())
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}
@if (commandShips.Any())
{
    <h3 style="text-align: center;">Command @commandShips.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in commandShips)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var haulerShips = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.HAULER.ToString())
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}
@if (haulerShips.Any())
{
    <h3 style="text-align: center;">Hauler @haulerShips.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in haulerShips)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var miningExcavators = Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.EXCAVATOR.ToString()
                && s.Ship.Mounts.Any(m => m.Symbol.Contains("MINING_LASER")))
            .OrderBy(s => {
                var parts = s.Ship.Symbol.Split('-');
                return Convert.ToInt32(parts[1], 16); // Parse as hex
            });
}
@if (miningExcavators.Any())
{
    <h3 style="text-align: center;">Mining @miningExcavators.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in miningExcavators)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var gasExcavators = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.EXCAVATOR.ToString()
            && s.Ship.Mounts.Any(m => m.Symbol.Contains("GAS_SIPHON")))
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}
@if (gasExcavators.Any()) {
    <h3 style="text-align: center;">Siphoning @gasExcavators.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in gasExcavators)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var surveyorShips = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.SURVEYOR.ToString())
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}
@if (surveyorShips.Any())
{
    <h3 style="text-align: center;">Surveyor @surveyorShips.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in surveyorShips)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var transportShips = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.TRANSPORT.ToString())
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}

@if (transportShips.Any())
{
    <h3 style="text-align: center;">Transport @transportShips.Count()</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in transportShips)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>

    <br/>
    <br/>
}

@{
    var satelliteShips = Model
        .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.SATELLITE.ToString())
        .OrderBy(s => {
            var parts = s.Ship.Symbol.Split('-');
            return Convert.ToInt32(parts[1], 16); // Parse as hex
        });
}
@if (satelliteShips.Any())
{
    <h3 style="text-align: center;">Satellite @satelliteShips.Count() - @(satelliteShips.GroupBy(ss => ss.Ship.Nav.SystemSymbol).Count()) Systems</h3>
    <section class="text-center container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
            @foreach (var shipStatus in satelliteShips)
            {
                await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
            }
        </div>
    </section>
}

